@charset "utf-8";


body,ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,dl,dd{margin: 0;padding: 0; font-family: "微软雅黑";}
ul,ol{list-style: none;}
i,em{ font-style:normal}
input,select,textarea{background-color: transparent; border: none; outline: none;}
textarea{resize: none;}/*右下角的小尾巴*/
img{border: none; vertical-align: top;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}


.gWidth{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.fl{float: left;}
.fr{float: right;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.mb20{ margin-bottom: 20px;}
.mr20{ margin-right: 20px;}
.txt2em{ text-indent: 2em;}
.pa10{ padding: 10px;}
.pb20{ padding-bottom: 20px;}
.w275{width: 275px;}
.w292{width: 292px;}
.w249{width: 249px;}
.w509{width: 509px;}
.mr12{ margin-right: 12px;}
.mb12{ margin-bottom: 12px;}



/*top_nav*/
.top_nav{
	margin-top: 20px;
}
.top{
	height: 30px;
	line-height: 30px;
}
.top span{
	float: right;
	font-size: 12px;
	color: #666;
}
.top span a{
	height: 22px;
	padding: 0 10px;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	margin-right: 5px;
	border-radius: 5px;
	color: #FFFFFF;
}
.top span a i{
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 5px;
}
.top .a1{
	background-color: gold;
}
.top .a1 i{
	background-image: url(../../image/comp/tianmao.png);
}
.top .a2{
	background-color: crimson;
}
.top .a2 i{
	background-image: url(../../image/comp/taobao.png);
}
.top .a3{
	/*background-color: greenyellow;*/
	background-color: #f84f18;
	position: relative;
}
.top .a3 i{
	background-image: url(../../image/comp/weixin.png);
	background-size: cover;
}
.top .a3 img{
	width: 150px;
	height: 150px;
	display: none;
	position: absolute;
	bottom: -160px;
	left: -50%;
	margin-left: 10px;
	background-color: #FFFFFF;
	z-index: 999;
}
.top .a3:hover .img{
	display: block;
}

.nav .fl a{
	display: inline-block;
}
.nav .fl a img{
	width: 147px;
}
.nav li{
	float: left;
	line-height: 40px;
	font-size: 14px;
}
.nav li a{
	color: #666;
	padding: 0 5px 10px 5px;
	margin: 0 10px;
	border-bottom: 3px solid #FFFFFF;
}
.nav li a:hover{
	border-color: #f84f18;
}
.nav .active{
	border-color: #f84f18;
}


.bottom_{
	text-align: center;
	margin-top: 40px;
	padding-top: 30px;
	margin-bottom: 40px;
	border-top: 1px solid #F5F5F5;
}
.bottom_ ul{
	line-height: 40px;
	font-size: 14px;
	color: #333333;
}
.bottom_ ul li span{
	margin: 0 13px;
}
.bottom_ ul li a{
	color: #333333;
}


::-moz-selection{color:#fff;color:rgba(255,255,255,0.85);background:#03a8b1;}
::selection{color:#fff;color:rgba(255,255,255,0.85);background:#03a8b1;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
h2{font-size:12px}
/*clearboth*/
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}
/*gotop*/
.cbbfixed {position: fixed;right: 20px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px;display: block;background-color: #fa7b52;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(../../image/comp/side-icon02.png);}
.cbbfixed .gotop:hover {background-color:#f84f18;}
.cbbfixed .weixin {background: #dadbdd;}
.cbbfixed .weixin div {background: url(../../image/comp/erweima.png) no-repeat center center; background-size: cover; width: 150px;height: 150px;position: absolute;left: -153px;top: -66px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .weixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .weixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(../../image/comp/side-icon01.png);}
