body {
	background-color: #F0F0F0;
}

.top {
	width: 100%;
	height: 1.955rem;
	background-color: #FFFFFF;
}

.top .logo {
	width: 3.288rem;
	margin-top: 0.592rem;
	margin-left: 0.592rem;
}

.top form {
	position: relative;
	height: 1.392rem;
}

.top form .sousuo {
	margin-top: 0.218rem;
	margin-left: 0.385rem;
	width: 10rem;
	height: 1.392rem;
	line-height:1.392rem;
	font-size: 0.6rem;
	background-color: #F0F0F0;
	border-radius: 0.733rem;
	text-indent: 1.614rem;
}

.top form .span {
	width: 5%;
	display: inline-block;
	left: 1rem;
	top: 0.68rem;
	position: absolute;
}

.top .xiaoxi {
	width: 0.755rem;
	height: 0.755rem;
	margin-top: 0.592rem;
	margin-right: 0.592rem;
	display: inline-block;
}

.top .xiaoxi img {
	width: 100%;
}




.banner {
	width: 100%;
	height: 6.66rem;
}

.banner img {
	width: 100%;
	height: 6.66rem;
}


/*banner*/



#solid{
	width:100%;
	height: 6.66rem;
	clear:both;
	position:relative;
}
#solid img{
	height: 6.66rem;
	width: 100%;
}
#solid .solid0,#solid .solid1,#solid .solid2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height: 6.66rem;
	display:none;
}
#solid .solid0{
	background:#78c4db;
}
#solid .solid1{
	background:#c5c9db;
}
#solid .solid2{
	background:#e7dfd1;
}
#solid ul{
	margin:0px;
	padding:0px;
	list-style:none;	
}
#solid ul li{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height: 6.66rem;
	display:none;
	cursor:pointer;
}
#solid #btt{
	width:100%;
	height:0.188rem;
	top:6rem;
	position:relative;
}
#solid #btt span{
	position:absolute;
	left:43%;
	display:block;
	width:0.6rem;
	height:0.118rem;	
	text-align:center;
	background:#3d3d3d;
	z-index:1000;
	cursor:pointer;
	filter:alpha(opacity=70); /*IE婊ら暅锛岄�忔槑搴�50%*/
	-moz-opacity:0.7; /*Firefox绉佹湁锛岄�忔槑搴�50%*/
	opacity:0.7;/*鍏朵粬锛岄�忔槑搴�50%*/
}














.nav {
	width: 100%;
}

.tab {
	width: 100%;
}

.tab-title {
	height: 2rem;
	font-size: 0;
	background-color: #FFFFFF;
}

.tab-title .item {
	display: inline-block;
	width: 50%;
	line-height: 2.074rem;
	text-align: center;
	color: #333;
	font-size: 0.6rem;
	color: #FF9C00;
	float: left;
	position: relative;
}

.tab-title .item .tou {
	width: 10%;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.border_b1,
.border_b2 {
	position: absolute;
	bottom: -0.15rem;
	left: 0;
	width: 8rem;
	height: 0.251rem;
	display: none;
}

.tab-title .item-cur .border_b1,
.tab-title .item-cur .border_b2 {
	display: block;
}

.tab-cont {
	position: relative;
	width: 100%;
	height: 10rem;
	margin-top: 0.4rem;
}

.tab-cont__wrap {
	position: absolute;
	width: 100%;
}

.tab-cont .item {
	width: 100%;
	text-align: center;
}

#div1.#div2 {
	margin: auto;
	position: relative;
}

.box {
	width: 100%;
	height: 4.74rem;
	background-color: #FFFFFF;
	margin-bottom: 0.296rem;
	padding-bottom: 0.4rem;
}

.box .cs {
	width: 4rem;
	height: 4rem;
	margin-left: 0.592rem;
    margin-top: 0.592rem;
	background-size: cover;
}

.box ul {
	width: 60%;
	font-size: 0.55rem;
	text-align: left;
	margin-top: 0.903rem;
	margin-left: 1.140rem;
}

.box ul li a {
	color: #000000;
	font-size: 0.6rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 95%;
	display: block;
}

.li {
	color: #989898;
	font-size: 0.55rem;
	width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.box ul li .fl {
	color: #EE3900;
	font-size: 0.8rem;
}

.box ul li .fl em {
	font-size: 0.459rem;
}

.box ul li .fr {
	color: #989898;
	font-size: 0.55rem;
	margin-right: 0.592rem;
	margin-top: 0.23rem;
}

.bottom {
	width: 100%;
	height: 2.192rem;
	background-color: #FFFFFF;
	border-top: 1px solid #E3E3E3;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
}

.bottom .sy,
.bottom .wd {
	margin-left: 13%;
	font-size: 0.533rem;
	width: 1.2rem;
	margin-top: 0.355rem;
	text-align: center;
}

.bottom .sy span {
	color: #FF9C00;
}

.bottom .sy img {
	width: 0.829rem;
	height: 0.74rem;
	margin: 0 auto;
	margin-bottom: 0.207rem;
}

.bottom .wd {
	margin-right: 13%;
}

.bottom .wd img {
	width: 0.711rem;
	height: 0.77rem;
	margin: 0 auto;
	margin-bottom: 0.207rem;
}

.bottom .sy,
.bottom .wd {
	font-size: 0.5rem;
}

.bottom .wd {
	width: 7.5%;
}

.bottom .wd a {
	color: #333333;
}

.bottom .gw {
	width: 2.577rem;
	height: 2.577rem;
	margin-left: 21%;
	margin-top: -4%;
}

.bottom .gw img {
	width: 2.577rem;
	height: 2.577rem;
}


