<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abbot.schimneylife.dao.weixin.IOrdermerRedpackDao">
	<sql id="Base_Column_List">
		redid,re_openid,total_fee,time_end,total_amount,re_time,mch_billno
	</sql>
	<select id="findByPage" resultType="com.abbot.schimneylife.pojo.weixin.OrdermerRedpack">
		select <include refid="Base_Column_List"></include>,fzordermerredpack.product_id,alid,storename from fzordermerredpack 
		left join fzalliance on fzordermerredpack.product_id = fzalliance.product_id 
		<trim prefix=" where " prefixOverrides="and|or">
			<if test="like !=null">
			<bind name="pattern" value="'%'+ like +'%'"/>
				and (fzalliance.storename like #{pattern} or fzordermerredpack.product_id like #{pattern} or fzordermerredpack.re_openid like #{pattern})
			</if>
			<if test="startTime !=null">
				and date_format(re_time,'%Y-%m-%d') &gt;= #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime !=null">
				and date_format(re_time,'%Y-%m-%d') &lt;= #{endTime,jdbcType=VARCHAR}
			</if>
		</trim>
		 order by 
		 <choose>
		 	<when test="column !=null">
		 		${column}
		 	</when>
		 	<otherwise>
		 		re_time
		 	</otherwise>
		 </choose>
		 <choose>
		 	<when test="sort !=null">
		 		${sort}
		 	</when>
		 	<otherwise>
		 		desc
		 	</otherwise>
		 </choose>
		 <if test="firstResult !=null and pageSize !=null">
		  	limit #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		 </if>
	</select>
	<select id="countTotal" resultType="Integer">
		select count(*) from fzordermerredpack left join fzalliance on fzordermerredpack.product_id = fzalliance.product_id 
		<trim prefix=" where " prefixOverrides="and|or">
			<if test="like !=null">
			<bind name="pattern" value="'%'+ like +'%'"/>
				and (fzalliance.storename like #{pattern} or fzordermerredpack.product_id like #{pattern} or fzordermerredpack.re_openid like #{pattern})
			</if>
			<if test="startTime !=null">
				and date_format(re_time,'%Y-%m-%d') &gt;= #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime !=null">
				and date_format(re_time,'%Y-%m-%d') &lt;= #{endTime,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	<select id="countRedpack" resultType="Integer">
		select sum(total_amount) from fzordermerredpack left join fzalliance on fzordermerredpack.product_id = fzalliance.product_id 
		<trim prefix=" where " prefixOverrides="and|or">
			<if test="like !=null">
			<bind name="pattern" value="'%'+ like +'%'"/>
				and (fzalliance.storename like #{pattern} or fzordermerredpack.product_id like #{pattern} or fzordermerredpack.re_openid like #{pattern})
			</if>
			<if test="startTime !=null">
				and date_format(re_time,'%Y-%m-%d') &gt;= #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime !=null">
				and date_format(re_time,'%Y-%m-%d') &lt;= #{endTime,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
</mapper>