<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abbot.schimneylife.dao.fenxiao.ICommissionDistributionDao">
	<resultMap type="com.abbot.schimneylife.pojo.fenxiao.CommissionDistribution"
		id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="deleted" property="deleted" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="DATE" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="lowerLevelNo" property="lowerLevelNo" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="DOUBLE" />
		<result column="no" property="no" jdbcType="VARCHAR" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="user" property="userId" jdbcType="INTEGER" />
		<association property="user"
			javaType="com.abbot.schimneylife.pojo.fenxiao.UserDistribution">
			<id column="user_id" property="id" jdbcType="INTEGER" />
			<result column="name" property="name" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id,deleted,version,createDate,level,lowerLevelNo,money,no,operator,remark,type,user
	</sql>
	<sql id="select_List">
		select
		c.id,c.deleted,c.version,c.createDate,c.level,c.lowerLevelNo,c.money,c.no,c.operator,c.remark,c.type,c.user,user.name
		from commission as c left join user
		on user.id = c.user
	</sql>
	 <select id="selectCommission" resultMap="BaseResultMap">
	 	 <include refid="select_List"/> where c.deleted = 0
	 </select>
	 <select id="selectCommissionBy" resultMap="BaseResultMap">
	 	<include refid="select_List"/>
			where c.no LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
			or c.operator LIKE concat('%',#{name,jdbcType=VARCHAR},'%') or user.name LIKE
			concat('%',#{name,jdbcType=VARCHAR},'%')
	 </select>
	 <select id="totalCount" resultType="java.lang.Integer">
		select count(*) from commission
		where deleted = 0
	</select>
	<select id="findByPageAndType" resultMap="BaseResultMap">
		<include refid="select_List" />
		where	c.deleted = 0
		order by ${order} ${sort}
		limit
		#{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="countByType" resultType="Integer">
		select count(*) from commission
		where
			deleted = 0
		
	</select>
</mapper>