<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abbot.schimneylife.dao.shopping.IAlibabaFailedOfferDao" >
  <resultMap id="BaseResultMap" type="com.abbot.schimneylife.pojo.shopping.AlibabaFailedOffer" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="alibaba_order_id" property="alibabaOrderId" jdbcType="VARCHAR" />
    <result column="offerID" property="offerID" jdbcType="VARCHAR"/>
    <result column="specID" property="specID" jdbcType="VARCHAR"/>
    <result column="errorCode" property="errorCode" jdbcType="VARCHAR"/>
    <result column="error_message" property="errorMessage" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, alibaba_order_id, offerID, specID, errorCode, error_message
  </sql>
  <insert id="insert" parameterType="com.abbot.schimneylife.pojo.shopping.AlibabaFailedOffer">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
  		select replace(uuid(),'-','') from dual
  	</selectKey>
  	insert into alibaba_failedoffer (<include refid="Base_Column_List"/>) values (#{id,jdbcType=VARCHAR},#{alibabaOrderId,jdbcType=VARCHAR}
  	,#{offerID,jdbcType=VARCHAR},#{specID,jdbcType=VARCHAR},#{errorCode,jdbcType=VARCHAR},#{errorMessage,jdbcType=VARCHAR}
  </insert>
  <select id="fetchByOfferIDAndSpecID" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from alibaba_failedoffer where offerID = #{offerID,jdbcType=VARCHAR}
  	 and specID = #{specID,jdbcType=VARCHAR}
  </select>
</mapper>